flask==3.1.0
flask-login==0.6.3
flask-session==0.8.0
flask-socketio==5.5.1
flask-pymongo==2.3.0
flask-wtf==1.2.1
wtforms==3.2.1
pymongo[srv]==4.10.1
dnspython==2.7.0
groq==0.17.0
mediapipe==0.10.32
numpy==1.26.4
opencv-python-headless==4.10.0.84
eventlet==0.36.1
python-dotenv==1.0.1
werkzeug==3.1.3
jinja2==3.1.5
itsdangerous==2.2.0
click==8.1.8
certifi==2024.12.14
blinker==1.9.0
gunicorn==23.0.0
gevent==24.11.1
gevent-websocket==0.10.1
fpdf==1.7.2
openpyxl==3.1.5
pillow==10.4.0
markupsafe==3.0.3
youtube-transcript-api
requests==2.32.3
pypdf==5.1.0
pdfplumber==0.11.4
faster-whisper==1.1.0
